language: node_js
node_js:
  - "10"
  - "8"
cache:
  directories:
    - "node_modules"

script: echo "Running tests against $(node -v)..." && yarn test

jobs:
  include:
    - stage: Build
      node_js: node
      script: yarn build
    - stage: Lint
      node_js: node
      script: yarn lint
    - stage: Produce Coverage
      node_js: node
      script: jest --coverage && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage

branches:
  only:
  - master
