#story-root {
  padding: 15px;
  border: 1px solid black;
  border-radius: 2px;

  /* https://codetea.com/pure-css-blueprint-pattern-using-css3-linear-gradients/ */
  background-color: #269;
  background-image:
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

#story-root > .ant-card {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

#story-root > .ant-form,
#story-root > .ant-table {
  background-color: white;
  padding: 15px;
}

.button-toolbar button {
  margin-right: 10px;
}

.ant-select-selection {
  min-width: 230px;
}

.markdown-body {
  background-color: white;
  margin: 30px 0;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

/*
  COMPONENT: BUTTON TOOLBAR
*/

.button-toolbar.no-spacing {
  padding: 0;
  margin: 0;
}

.button-toolbar .ant-btn {
  margin-right: 10px;
}

.button-toolbar .ant-btn:last-child {
  margin-right: 0;
}

.button-toolbar .ant-btn:last-child {
  margin-right: 0;
}

.fields-ant-info {
  /* Copied from .ant-form-item */
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.65);
  font-feature-settings: 'tnum';
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  vertical-align: top;
  color: black;
}

.fields-ant-info-row-inline {
  display: flex;
}

.fields-ant-info-label {
  /* Copied from .ant-form-item-label */
  display: block;
  line-height: 1.5;
  margin: 0;
  padding: 0 0 8px;
  text-align: left;
  white-space: initial;
}

.fields-ant-info-label-colon > label::after {
  content: ':';
  position: relative;
  margin: 0 8px 0 2px;
}

.fields-ant-info-label-no-colon > label {
  margin-right: 8px;
}
